/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

:root {
  --primary-color: #05676e;
  --secondary-color: #6f6f6e;
  --black: #252f47;
  --white: #fff;
  --lgrey: #e5e5e5;
  --orange: #fba00e;
  --dyellow: #edc655;
  --lyellow: #fcffad;
  --red: #f76414;
  --h1font-size: 22px;
  --standardfont-weight: 700;
  --standardfont-size: 16px;
  --font-family: 'Lato', san serif;
  --standardline-height: 1.6;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: var(--standardline-height);
}

header {
  font-family: var(--font-family);
  font-weight: var(--standardfont-weight);
  font-size: var(--standardfont-size);
  line-height: var(--standardline-height);
}

.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 20px;
}

.page-header__item {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 100px;
  flex: 0 1 100px;
}

.page-header__item:last-child {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  text-align: right;
}

.page-footer {
  clear: both;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.navigation__menu {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: auto;
  margin-right: 50px;
}

.navigation-list {
  list-style-type: none;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 2;
}

.navigation-list li {
  display: inline-block;
  margin-left: 15px;
}

.navigation-list__item--active {
  text-decoration: none;
}

.about__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 auto;
  padding: 10px;
}

.about__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  max-width: 500px;
  margin: 0 auto;
  padding: 10px;
}

.profile {
  max-width: 700px;
  margin: 0 auto;
  padding-top: 5px;
}

.profile__name {
  /* class selector */
  font-family: var(--font-family);
  font-weight: var(--standardfont-weight);
  font-size: var(--standardfont-size);
  line-height: var(--standardline-height);
}

.profile__description {
  /* class selector */
  font-family: var(--font-family);
  font-weight: var(--standardfont-weight);
  font-size: var(--standardfont-size);
  line-height: var(--standardline-height);
  padding: 10px;
}

.profile__codes {
  /* class selector */
  font-family: var(--font-family);
  font-weight: var(--standardfont-weight);
  font-size: var(--standardfont-size);
  line-height: var(--standardline-height);
}

.work__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 auto;
  padding: 10px;
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 300px 300px 300px;
  grid-template-columns: 300px 300px 300px;
  -ms-grid-rows: 300px 300px 300px;
  grid-template-rows: 300px 300px 300px;
  padding: 20px;
}

.grid > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.grid > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}

.grid > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.grid > *:nth-child(4) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}

.grid > *:nth-child(5) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}

.grid > *:nth-child(6) {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
}

.grid > *:nth-child(7) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.grid > *:nth-child(8) {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
}

.grid > *:nth-child(9) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}

.cell-A {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 1;
  grid-row: 1;
}

.cell-B {
  -ms-grid-column: 3;
  grid-column: 3;
  -ms-grid-row: 1;
  grid-row: 1;
}

.cell-C {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 3;
  grid-row: 3;
}

.cell-D {
  -ms-grid-column: 3;
  grid-column: 3;
  -ms-grid-row: 3;
  grid-row: 3;
}

/* start grid fallback */
.grid__item {
  background-color: var(--lgrey);
  width: auto;
  min-height: auto;
  margin: 0;
  padding: 15px;
}

/* end grid fallback */
@supports (display: grid) {
  .grid {
    display: -ms-grid;
    display: grid;

    /* grid-template-columns: 300px 300px 300px; fractions are better than pixels - they are responsive */
    -ms-grid-columns: 1fr 15px 1fr 15px 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 15px;
    margin: 0;
  }

  .grid__item {
    background-color: var(--lgrey);
    width: auto;
    min-height: auto;
    margin: 0;
    padding: 15px;
  }

  h1 {
    font-size: var(--h1font-size);
    font-weight: var(--standardfont-weight);
  }
}

a {
  color: var(--secondary-color);
  font-weight: bolder;

  /* Sets color for link */
}

a:visited {
  /* visited link color */
  color: var(--primary-color);
}

a:hover,
a:focus {
  /* No underlining when hovering over a link */
  text-decoration: none;
}

a:active {
  /* selected link */
  color: var(--lgrey);
}

.profile__portrait {
  float: left;
  width: 50%;
  margin-right: 20px;
  border-radius: 50%;
  padding: 10px;
}

.cvdownload__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.downloadbutton {
  border: none;
  display: inline-block;
  font-family: var(--font-family);
  background-color: var(--white);
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  -webkit-transition: 0.2s opacity;
  -o-transition: 0.2s opacity;
  transition: 0.2s opacity;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.contactmebutton {
  border: none;
  display: inline-block;
  font-family: var(--font-family);
  background-color: var(--white);
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  -webkit-transition: 0.2s opacity;
  -o-transition: 0.2s opacity;
  transition: 0.2s opacity;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

button {
  /* overwrites browser defaults */

  /* resets the border */
  border: none;
  display: inline-block;

  /* takes the font from the outer container */
  font-family: var(--font-family);

  /* style button */
  background-color: var(--primary-color);
  color: var(--white);
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;

  /* width of the border, type, color */
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  -webkit-transition: 0.2s opacity;
  -o-transition: 0.2s opacity;
  transition: 0.2s opacity;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
  /* lets the mouse appear as a hand when hovering over the button */
  cursor: pointer;

  /* reduces the opacity of the button to 80% */
  opacity: 0.8;
}

.berlin-illustration {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 auto;
}

.sun {
  -webkit-animation: 4s color-change infinite alternate linear;
  animation: 4s color-change infinite alternate linear;
}

.cloud-front {
  -webkit-animation: 30s cloud-move infinite alternate linear;
  animation: 30s cloud-move infinite alternate linear;
}

.cloud-back {
  -webkit-animation: 34s cloud-move-reverse infinite alternate linear;
  animation: 34s cloud-move-reverse infinite alternate linear;
}

.table__section {
  width: 300px;
  margin: 0 auto;
  padding: 10px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.table__experience {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: var(--font-family);
  min-width: 300px;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  text-align: left;
}

.table_head {
  background-color: var(--secondary-color);
  color: var(--white);
  text-align: left;
}

.contact__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 auto;
  padding: 20px;
  max-width: 500px;
}

.contact__info {
  display: flow-root;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 auto;
  padding: 10px;
  max-width: 320px;
}

.contact__contactme {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 auto;
  padding: 20px;
}

.contact__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 auto;
  padding: 10px;
  min-width: 320px;
}

span {
  /* styles the font of the span seen on index */
  font-family: sans-serif;
  font-size: 12px;
  font-weight: 500;

  /* styles the background color, font color, and text decoration (underline, etc.) of the span seen on index */
  background-color: var(--black);
  color: var(--orange);
  text-decoration: none;
  padding: 3px;
}

@media all and (min-width: 500px) and (max-width: 750px) {
  .grid {
    -ms-grid-columns: 1fr 15px 1fr;
    grid-template-columns: 1fr 1fr;
  }
}

@media all and (max-width: 500px) {
  .grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}

@media all and (max-width: 750px) {
  .grid {
    grid-gap: 10px;
  }

  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }

  h1 {
    font-size: var(--h1font-size);
  }
}

@-webkit-keyframes cloud-move-reverse {
  from {
    -webkit-transform: translate(446px, 48px);
    transform: translate(446px, 48px);
  }

  to {
    -webkit-transform: translate(100px, 48px);
    transform: translate(100px, 48px);
  }
}

@keyframes cloud-move-reverse {
  from {
    -webkit-transform: translate(446px, 48px);
    transform: translate(446px, 48px);
  }

  to {
    -webkit-transform: translate(100px, 48px);
    transform: translate(100px, 48px);
  }
}

@-webkit-keyframes cloud-move {
  from {
    -webkit-transform: translate(0, 50px);
    transform: translate(0, 50px);
  }

  to {
    -webkit-transform: translate(200px, 50px);
    transform: translate(200px, 50px);
  }
}

@keyframes cloud-move {
  from {
    -webkit-transform: translate(0, 50px);
    transform: translate(0, 50px);
  }

  to {
    -webkit-transform: translate(200px, 50px);
    transform: translate(200px, 50px);
  }
}

@-webkit-keyframes color-change {
  0% {
    fill: var(--dyellow);
  }

  50% {
    fill: var(--lyellow);
  }

  100% {
    fill: var(--red);
  }
}

@keyframes color-change {
  0% {
    fill: var(--dyellow);
  }

  50% {
    fill: var(--lyellow);
  }

  100% {
    fill: var(--red);
  }
}