:root {
  --primary-color: orange;
  --secondary-color: #6f6f6e;
  --black: #252f47;
  --white: #fff;
  --lgrey: #e5e5e5;
  --orange: #fba00e;
  --dyellow: #edc655;
  --lyellow: #fcffad;
  --red: #f76414;
  --h1font-size: 22px;
  --standardfont-weight: 700;
  --standardfont-size: 16px;
  --font-family: 'Inconsolata', 'Consolas';
  --standardline-height: 1.6;
}

* {
  box-sizing: border-box;
}

body {  
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: var(--standardline-height);
}

header {
  font-family: var(--font-family);
  font-weight: var(--standardfont-weight);
  font-size: var(--standardfont-size);
  line-height: var(--standardline-height);
}

.page-header {
  background-color: whitesmoke;
  display: flex;
  width: 100%;
  padding: 10px;  
}

.page-header__item {
  flex: 0 1 100px;
  margin-left: 40px;
  
}

.page-header__item:last-child {
  flex-grow: 1;
  text-align: right;
}

.footer_findme{
margin-left: 5px;
}
.page-footer {
  background-color: whitesmoke;
  color: var(--primary-color);
  clear: both;
  display: flex;
  flex-direction: column;
  text-align: center;  
  }

  
  .main-navigation .page-header__item{
    background-color: whitesmoke;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);  
    z-index: 3;
    display: inline-block;    
    font-size: 1em;
    padding: 10px 10px;
    text-decoration: none;
  }
  
  .main-navigation ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: whitesmoke;
  }
  
  .main-navigation li a {
    display: block;
    padding: 10px 10px;
    border-right: 1px solid orange;
    text-decoration: none;
  }
  
  .main-navigation li a:hover,
  .main-navigation .menu-btn:hover {
    background-color: orange;
  }
  
  
  
  /* menu */
  
  .main-navigation .navigation-list {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
  }
  
  /* menu icon */
  
  .main-navigation .menu-icon {
    cursor: pointer;
    display: inline-flex;
    position: relative;
    padding: 10px 10px;  
    user-select: none;
  }
  
  .main-navigation .menu-icon .navicon {
    background: midnightblue;
    display: block;
    height: 20px;
    position: relative;
    transition: background .2s ease-out;
    width: 30px;
  }
  
  .main-navigation .menu-icon .navicon:before,
  .main-navigation .menu-icon .navicon:after {
    background: orange;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }
  
  .main-navigation .menu-icon .navicon:before {
    top: 5px;
  }
  
  .main-navigation .menu-icon .navicon:after {
    top: -5px;
  }
  
  /* menu btn */
  
  .main-navigation .menu-btn {
    display: none;
  }
  
  .main-navigation .menu-btn:checked ~ .navigation-list {
    max-height: 240px;
  }
  
  .main-navigation .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }
  
  .main-navigation .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-25deg);
  }
  
  .main-navigation .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(25deg);
  }
  
  .main-navigation .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .main-navigation .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
  }
  
   /* 37.5em = 600px */
  
  @media (min-width: 37em) {
    .main-navigation li {
      float: left;
    }
    .main-navigation li a {
       margin-left:10px;
       padding: 15px 20px;
    }
    .main-navigation .navigation-list {
      clear: none;
      float: right;
      max-height: none;
    }
    .main-navigation .menu-icon {
      display: none;
    }
  }
  



.about__header {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 10px;
}

.about__description, .about__skills {  
  align-items: center;
  margin-left: 20px; 
  font-size: 20px;
  padding: 10px;
  display: flexbox;
  text-align: justify;
}


h3{
 margin-left: 500px;
}


.content {
  background-color: white;
  width: 60%;
  height: 15vh;
  display: inline-block;
  align-items: center;
  justify-content: center;
}

.slider-wrapper {
  margin-left: 150px;
  font-size: 25px;
  color:black;
  font-weight: bold;
  text-transform: uppercase;
  display: inline-block;
  align-items: center;
  justify-content: center;
  margin-left:20px;
}

.slider{
  height: 50px;
  padding-right:20px;
  overflow: hidden;
}

.slider div {
  color:#fff;
  height: 50px;
  margin-bottom: 50px;
  padding: 2px 15px;
  text-align: center;
  box-sizing: border-box;
}

.slider-text1 {
  background: orange;
  animation: slide 12s linear infinite;
}

.slider-text2, .slider-text4 {
  background: black;  
}

.slider-text3, .slider-text5 {
  background: orange;  
}
  

@keyframes slide {
  0% {margin-top: 0px;} 
  20% {margin-top:-150px;}   
  40% {margin-top:-300px;}
  60% {margin-top:-450px;}  
  80% {margin-top:-500px;} 
  100% {margin-top:-650px;}
}

.contact__linkedin{
  display: flex;
  text-decoration: none;
  padding: 5px;  
  margin-left: 170px;
}

.about__reflinkedin{
  background-color:var(--primary-color);
  font-weight: var(--standardfont-weight);
  font-family: var(--font-family);
  color: white;
  font-size: 20px;
  line-height: var(--standardline-height);
  padding: 10px;
  border-radius: 85px 85px;
  text-decoration: none;
  display: flexbox;
  margin-left: 25px;
}

.about__memories {
  display: flex;
  max-width: 600px;
  margin: 0 auto;
  padding: 10px;
  width: 50%;
  background-size: cover;
  float: center;
  position: relative;
  border-radius: 85px 85px;
  padding: 10px;
}

.wave {
  background-color: white;
  animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s;        /* Change to speed up or slow down */
  animation-iteration-count: infinite;  /* Never stop waving :) */
  transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
    0% { transform: rotate( 0.0deg) }
   10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
   20% { transform: rotate(-8.0deg) }
   30% { transform: rotate(14.0deg) }
   40% { transform: rotate(-4.0deg) }
   50% { transform: rotate(10.0deg) }
   60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
  100% { transform: rotate( 0.0deg) }
}



.profile__greeting {
  font-family: var(--font-family);
  line-height: var(--standardline-height);
  color: midnightblue;
  font-weight: bolder;
  text-shadow: 0 0 20px orange;
  position: relative;
  text-align:left; 
}


.home__block {
 display: inline;
 padding: 20px; 
 text-align: justify;
 align-items: center;
}

.profile__workanywhere {
 width: 38%;
 background-size: cover;
 float: left;
 display: flex;
 border-radius: 85px 85px;
 padding: 10px;
 margin-left: 30px;
 margin-top: 25px;
 }

.profile__portrait { 
  float: right;
  width: 20%;
  margin-left:20px;
  margin-right: 20px;
  border-radius: 15%;
  background-color: lightgrey;
  padding: 10px;
  position: relative;
  }
  

.profile__name {
  font-family: var(--font-family);
  font-weight: var(--standardfont-weight);
  font-size: 20px;
  line-height: var(--standardline-height);
  align-items: center;  
  margin-left: 10px;
}

.profile__description {
  font-family: var(--font-family);
  font-size: 20px;
  line-height: var(--standardline-height);
  align-items: center;
  margin-left: 10px;
  padding: 20px;
  margin-top: 20px;
  display: block;
}

.profile__description--active {
  font-size: 20px;
  background-color: orange;
  color:midnightblue;
  border-radius: 85px 85px;
  font-weight: bold; 
}

.profile__codes {
  background-color: rgb(236, 192, 125); 
  font-size: 25px;  
  padding: 20px;
  border-radius: 85px 85px;
  text-decoration: none;
  margin-left: 50px;  
  display: inline-block; 
}

.social-media{
  background-color: whitesmoke; 
}

.work__header {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 10px;
}


a {
  color: var(--secondary-color);
  font-weight: bolder;
    /* Sets color for link */
}

a:visited {
  /* visited link color */
  color: midnightblue;
  font-size: 20px;
}

a:hover,
a:focus {
  /* No underlining when hovering over a link */
  text-decoration: none;
}

a:active {
  /* selected link */
  color: black;
  font-size: 20px;
}


.contactmebutton { 
  color: var(--white);
  font-family: var(--font-family);
  background-color: var(--primary-color);
  text-decoration: none;
  padding: 5px;
  border-radius: 3px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  transition: 0.2s opacity;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  font-size: 20px;  
}

.contactmebutton:hover{
  animation-name: wiggle;
  animation-name: wiggle;
  animation-duration: 700ms;
  animation-duration: 700ms;
  animation-iteration-count: 1;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
}

@keyframes wiggle {
  0% {transform: rotate(10deg);}
  25% {transform: rotate(-10deg);}
  50% {transform: rotate(20deg);}
  75% {transform: rotate(-5deg);}
  100% {transform: rotate(0deg);}
}

button {
  /* overwrites browser defaults */

  /* resets the border */
  border: none;
  display: inline-block;

  /* takes the font from the outer container */
  font-family: var(--font-family);

  /* style button */
  background-color: var(--primary-color);
  color: var(--white);
  text-decoration: none;
  font-weight: bold;
  padding: 10px;
  border-radius: 3px;

  /* width of the border, type, color */
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  transition: 0.2s opacity;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
  /* lets the mouse appear as a hand when hovering over the button */
  cursor: pointer;

  /* reduces the opacity of the button to 80% */
  opacity: 0.8;
}

.contact__header {
  margin: auto;
  display: flex;
  background-size: auto;
  max-width: 500px;
  justify-content: center;
  padding: 5px; 
}


.contact__writer {
  width: 50%;
  background-size: cover;
  float: left;
  display: flex;
  border-radius: 85px 85px;
  padding: 15px;
  margin-left: 150px;
  }

.contact__contactme {
  display: flex;
  padding: 5px;
  margin-left: 175px;
  

}

.contact__form {
  display: inline-block;
  justify-content: center;  
  width: 320px;
  margin-bottom: 50px;
  padding: 10px;
  margin-left: 30px;
}

.form__message{  
  display: inline-block;
  justify-content: center; 
}

span {
  /* styles the font of the span seen on index */
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 500;
  /* styles the background color, font color, and text decoration (underline, etc.) of the span seen on index */
  background-color: midnightblue;
  color: var(--orange);
  text-decoration: none;
  padding: 8px;
  display: inline-block;
  margin: 5px; 
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;   
  padding: 20px;
}


@supports (display: grid) {
  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(1fr, 1fr, 1fr)); 
    /* grid-template-columns: 300px 300px 300px; fractions are better than pixels - they are responsive */   
    grid-gap: 10px;
    margin-bottom: 20px;
    margin-left:15px;
    padding: 10px;
  }

  .grid__item {   
    background-image: linear-gradient(whitesmoke, rgb(250, 190, 60));
    border-radius: 25px;
    width: 1fr;
    height: 1fr;
    margin-bottom: 10px;
    padding: 20px;
  }

  h1 {
    font-size: var(--h1font-size);
    font-weight: var(--standardfont-weight);
  }
}



@media all and (max-width: 500px) {
  .grid {
    grid-template-columns: 1fr;   
    grid-gap: 10px;
  }
  h1 {
    font-size: var(--h1font-size);
  }
}


.work__description{
  font-weight: bold;
  font-size:20px;
  display: inline-block;
  padding: 5px;
  margin-left: 40px;
}

.work__pokedex, .work__todolist, .work__myflixserver, .work__myflixclient, .work__meetapp, .work__chatapp, .work__angularapp, .work__portfolio{
  padding: 5px;
  background-color: midnightblue;
  border-radius: 15%;
  float: center ;
  width: 22em;
  height: 15em;
  display: flex;
  justify-content: flex-start; 
  text-align: justify;
  
}

.work__ref{
  margin-bottom: 20px;
  display: inline-block

}



 






